<ion-header>
 
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <div class="container">
        <div class="title">Welcome to Our App Lost & Found
      </div>
      </div>
     
    </div>
    <img src="" />
 <br><br>
    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="forward">Log in</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Signup</ion-button>
    </div>
  </div>
</ion-content>
