<ion-content>
<ion-header>
  <ion-toolbar>
    
  </ion-toolbar><ion-title color="success"> <ion-icon name="arrow-back-circle-outline" color="success" routerLink="/home"></ion-icon>Lost & Found</ion-title>
</ion-header>
<div class="flex-center">


  <ion-card-header>
  <ion-card-title color="primary"> Add new annonce</ion-card-title>
</ion-card-header>
<ion-card-content>
<ion-item>

  <ion-label position="floating">Name </ion-label>
  <ion-input type="email"></ion-input> 
</ion-item>
<ion-item>

<ion-label position="floating">Age</ion-label>


<ion-input type="text"></ion-input>

</ion-item>
<ion-item>

  <ion-label position="floating">Image</ion-label>
  <br>
  
  <ion-input type="file"></ion-input>
  
  </ion-item>
<ion-button   size="full" color="success" routerLink="/my-cart">Add</ion-button>
</ion-card-content>
</div>
</ion-content>

  
