<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Favorite <ion-icon color="danger" name="heart"></ion-icon></h1>

  <ion-row class="favorite-items">
   
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/prod3.jpg" />
      <ion-button shape="round" fill="clear" > <ion-icon  color="danger"name="heart-dislike"> </ion-icon></ion-button> 

      <p>3 mois    </p>
      <h6>Dog </h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/prod2.jpg" />
      <ion-button shape="round" fill="clear" > <ion-icon  color="danger"name="heart-dislike"> </ion-icon></ion-button> 

      <p>3 jours  </p>
      <h6>Cat</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/prod6.jfif" />
      <ion-button shape="round" fill="clear" > <ion-icon  color="danger"name="heart-dislike"> </ion-icon></ion-button> 
      <p>23 ans  </p>
      <h6>Eya  Malekh</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/prod6.jpg" />
      <ion-button shape="round" fill="clear" > <ion-icon  color="danger"name="heart-dislike"> </ion-icon></ion-button> 

      <p>57 ans   </p>
      <h6>Mohsen Ben Ali</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/th (1).jfif" />
      <ion-button shape="round" fill="clear" > <ion-icon  color="danger"name="heart-dislike"> </ion-icon></ion-button> 

      <p>25 ans </p> 
      <h6>Hassen Slimen</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/prod5.jpg" />
      <ion-button shape="round" fill="clear" > <ion-icon  color="danger"name="heart-dislike"> </ion-icon></ion-button> 

      <p>6 mois   </p>
      <h6>Chien Hesky</h6>
    </ion-col>
  </ion-row>
</ion-content>
