<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input placeholder="Search "></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="title ion-padding">
    <h2>Categories</h2>
  </div>

  <div class="category-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let category of categories">
        <ion-col>
          <h4 style="color: black;">{{category.name}}</h4>
          <img src="{{ category.image }}" />
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="title ion-padding">
  <div class="row">
    <h2 class="font-bold">Annonces <ion-button shape="round" fill="outline" routerLink="/add-annonce"> <ion-icon name="add-circle-sharp" color ="success"></ion-icon> </ion-button>
</h2>
</div>
  </div>
  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let item of anoonces">
        <ion-col class="ion-text-left"  [routerLink]="['/item-details',item.id]" routerDirection="forward">
          <img src="{{ item.image }}" />
          <p>{{ item.age }}</p>
          <h6>{{ item.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="title ion-padding">
    <h2 class="font-bold">Favorite <ion-icon color="danger" name="heart-outline"></ion-icon> </h2>
    
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let item of bestanoonces">
        <ion-col class="ion-text-left" [routerLink]="['/item-details',item.id]" routerDirection="forward">
          <img src="{{ item.image }}" />
          <p>{{ item.age }}</p>
          <h6>{{ item.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
